@tailwind base;
@tailwind components;
@tailwind utilities;

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

:root {
  background-color: #afafaf;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  z-index: 1100;
}

.phone {
  width: 400px;
  background-color: white;
  height: 800px;
  /* border-radius: 70px; */
  border-color: #000000;
  border-width: 10px;
  z-index: 1000;
}
